
body.phone .boardPage .hub {
    margin-top: 4px;
    height: 100%;
}

.boardPage {
    background-color: #0079BF;
    background-size: cover;
    transition-property: background-position-x;
    transition-timing-function: ease;
    transition-duration: 0.8s;
}

.boardPage header[role=banner] {
    position: relative;
    z-index: 2;
}

.boardPage header .win-searchbox {
    -ms-grid-column:4;
    margin-top: 37px;
}

.boardPage header .permission {
    font-size: 22px;
}

.boardPage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
}

.boardPage .hub .win-hub-surface {
    height: 100%;
}

.label-extralarge {
	font-size: 28pt;
	line-height: 30pt;
}

.label-medium {
	font-size: 15pt;
	line-height: 17.5pt;
}

.label-mediummid {
	font-size: 15pt;
	line-height: 17.5pt;
}


.boardPage .cardItem {
    margin: 4px;
}