env:
  browser: true
  node: true
  es6: true
extends:
  - eslint:recommended
  - plugin:import/errors
  - plugin:import/warnings
  - plugin:react/recommended
parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true
    jsx: true
    generators: true
  sourceType: module
parser: babel-eslint
plugins:
  - react
  - import
  #- evopark-internal
rules:
  #no-best-before-comments: 1
  curly: 2
  no-warning-comments: [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }]
  no-console: 0
  generator-star-spacing: [1, after]
  import/no-unresolved: [2, {commonjs: true}]
  no-trailing-spaces: 1
  indent:
    - 2
    - 2
  quotes:
    - warn
    - double
  semi:
    - error
    - never