<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="trello.Windows" Version="1.0.0.0" Publisher="CN=philk_000" />
  <mp:PhoneIdentity PhoneProductId="9b9569af-0a7f-4177-b516-5bdb0cc51847" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>trello.Windows</DisplayName>
    <PublisherDisplayName>philk_000</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m3:VisualElements DisplayName="trello" Square150x150Logo="logo.png" Square44x44Logo="images\Square44x44Logo.png" Description="trello for WindowsPhone" ForegroundText="light" BackgroundColor="#0079BF">
        <m3:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square71x71Logo="images\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\SplashScreen.png" BackgroundColor="#0079BF" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>