/* Override some crazy defaults from WinJS */

/* Override the sick 400px default from WinJS css*/
.win-listview, .win-semanticzoom {
  height: 100%;
}

.win-flyout label {
    display:block;
}

.fragment,
section[role=main] {
    height: 100%;
}

.button[type=submit],
.green {
    background-color: #70B500; /*green*/
    color: white;
    border-color: transparent;
}

button:hover {
    background-color: #A2CC5E;
    border-color: transparent;
}

button:hover:active {
    background-color: #3B5E01;
    color: white;
}

button.danger {
    background-color: #C4C9CC;
    color: rgb(77, 77, 77);
}

button.danger:hover {
    background-color: #CF513D;
    color: white;
}

.lists .win-hub-section-content {
    display:-ms-grid;
    -ms-grid-rows: 1fr auto;
}

    .lists .win-hub-section-content .cardlist {
        -ms-grid-row: 1;
    }

    .lists .win-hub-section-content input.addCard {
        -ms-grid-row: 2;
    }

    .lists .cardItem {
        width: 250px;
        height: 110px;
    }

    .lists .cardItem:not([data-cover='']) {
        height: 300px;
    }

    .phone .lists .cardItem {
      width:auto;
    }

.badges {
    font-family:"Segoe UI Symbol";
}

    .badges span {
        margin-right: 8px;
    }

    .badges span[data-value='false'],
    .badges span[data-value='0'],
    .badges span[data-value='0/0'],
    .badges span[data-value='null'],
    .badges span[data-value=''] {
        display:none;
    }

    .badges span[data-value='true'] .text {
        display:none;
    }

        .badges span:before {
            padding-right: 4px;
        }

.badges .comments:before {
    content: "\e200";
}

.badges .votes:before {
    content: "\e209";
}

.badges .description:before {
    content: "\e1a2";
}

.badges .attachments:before {
    content: "\e16c";
    padding-right: 0;
}

.badges .checkList:before {
    content: "\e133";
}

.badges .due:before {
    content: "\e121";
}

.labels .card-label {
    float: left;
}

.labels::after {
    clear: both;
}


.label {
    min-width: 30px;
    display: block;
    height: 20px;
    float: left;
    padding: 5px 10px;
    margin: 0 4px 4px 0;
}

.boardItem {
    width: 252px;
    height: 122px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.boardItem[data-closed=true] {
    opacity: 0.2;
}

.phone .boardItem {
    width: auto;
    margin-bottom: 20px;
}

.boardItem .name {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-shadow: 1px 1px black;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px 12px;
}

.phone .boardItem .name {
    background-color: rgba(0,0,0,.5);
    color: white;
    top: auto;
}

.boardItem .fade {
    background-color: rgba(0,0,0,.15);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.boardItem .fade .icon {
    position: absolute;
    right: 10px;
    font-size: 40pt;
    bottom: 10px;
    color:rgba(0,0,0,0.25);
}

.boardItem .fade .icon[data-icon="undefined"] {
    display: none;
}

.permission[data-level]:before {
    padding-right: 4px;
}
.permission[data-level="org"]:before {
    content: "\e125";
}
.permission[data-level="private"]:before {
    content: "\e1f6 ";
}
.permission[data-level="public"]:before {
    content: "\e128 ";
}

.boardColor[data-color="blue"] {
    background-color: #0E74AF;
}
.boardColor[data-color="green"] {
    background-color: #379E5A;
}
.boardColor[data-color="orange"] {
    background-color: #CE7822;
}
.boardColor[data-color="red"] {
    background-color: #BF4040;
}
.boardColor[data-color="grey"] {
    background-color: #808080;
}
.boardColor[data-color="purple"] {
    background-color: #8D5C99;
}

.card-label {
    background-color: #b6bbbf;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-right: 3px;
    height: 20px;
    min-width: 40px;
    overflow: hidden;
    padding: 3px 6px;
    position: relative;
    text-overflow: ellipsis;
    text-shadow: 0 0 5px rgba(0,0,0,.2),0 0 2px #000;
    white-space: nowrap;
}

.cardItem .attachments {
    height: 150px;
    width: 100%;
}

/* Don't show colorless labels on cards in lists */
.cardItem .card-label[data-color=""] {
    display:none;
}

.card-label[data-color="green"] {
    background-color: #70b500;
}
.card-label[data-color="yellow"] {
    background-color: #f2d600;
}
.card-label[data-color="orange"] {
    background-color: #ff9f1a;
}
.card-label[data-color="red"] {
    background-color: #eb5a46;
}
.card-label[data-color="purple"] {
    background-color: #c377e0;
}
.card-label[data-color="blue"] {
    background-color: #0079bf;
}
.card-label[data-color="pink"] {
    background-color: #ff78cb;
}
.card-label[data-color="sky"] {
    background-color: #00c2e0;
}
.card-label[data-color="lime"] {
    background-color: #51e898;
}
.card-label[data-color="black"] {
    background-color: #4d4d4d;
}